body {
  margin: 0;
}

@font-face {
  font-family: "digital-7";
  src: url(digital-7.ttf);
}

.container {
  display: flex;
  justify-content: space-around;
}

.main {
  text-align: center;
}

p {
  font-family: "digital-7";
}

.score {
  font-size: 70px;
}
button{
  font-size: 22px;
}