body {
  margin: 0;

  color: white;
  background-color: black;
}

@font-face {
  font-family: "digital-7";
  src: url(digital-7.ttf);
}

.container {
  display: flex;
  justify-content: space-around;
  background-image: url(images/basketball-6488065_1280.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 450px;
}

.main {
  text-align: center;
}
h1 {
  margin: 0;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px #b54213;
}

h3 {
  font-size: 22px;
}
p {
  font-family: "digital-7";
}

#scoreHome,
#scoreGuest {
  font-size: 70px;
}
button {
  font-size: 22px;
}
button:hover {
  color: white;
  background-color: #b54213;
}

.final {
  padding-top: 90px;
  text-align: center;
}
#lastScore {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
